<% provide(:title, 'Iniciar sesion') %>
<h1>Iniciar sesion</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
	</div>
</div>

<% if not logged_in? %>
	<%= render 'shared/error_messages' %>

	<%= form_for(:session, url: login_path) do |f| %>
		<%= f.label :email %>
		<%= f.email_field :email, class: 'form-control' %>

		<%= f.label :password %>
		<%= f.password_field :password, class: 'form-control' %>

		<%= f.submit "Iniciar sesion", class: 'btn btn-primary' %>
	<% end %>
	<p>Aun no te has registrado? <%= link_to 'Registrate!', new_user_path %></p>
<% end %>
