<% provide(:title, 'Crear intercambio') %>

<div class="row justify-content-center">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@exchange) do |f| %>
			<%= render 'shared/error_messages' %>

			<%= f.label :exchange_date, 'Fecha del intercambio' %>
			<%= f.datetime_local_field :exchange_date, class: 'form-control' %>

			<%= f.label :place, 'Lugar' %>
			<%= f.text_field :place, class: 'form-control' %>

			<%= f.submit "Crear intercambio", class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>
