Hola <%= @giver.name %> <%= @giver.lastname %>
==============================================

Te enviamos este correo para informarte de que se ha concertado
un intercambio en un grupo en el que participas: '<%= @group.name %>'.
Te toca regalarle a <%= link_to "#{@receiver.name} #{@receiver.lastname}", user_url(@receiver) %>
Los regalos que ha pedido son:
<% @receiver.participant.participates.where(group_id: @group.id).each do |participate| %>
	<% participate.wishes.each do |wish| %>
		<%= wish.participant_wish %>
	<% end %>
<% end %>
Te invitamos a visitar su perfil para ver sus gustos.
La fecha pautada es <%= @exchange.exchange_date %> en <%= @exchange.place %>
