<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8', http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Hola <%= @giver.name %> <%= @giver.lastname %></h1>
		<p>
			Te enviamos este correo para informarte de que se ha concertado
			un intercambio en un grupo en el que participas: '<%= @group.name %>'.
			Te toca regalarle a <%= link_to "#{@receiver.name} #{@receiver.lastname}", user_url(@receiver) %>
			Los regalos que ha pedido son:
			<ul>
				<% @receiver.participant.participates.where(group_id: @group.id).each do |participate| %>
					<% participate.wishes.each do |wish| %>
						<li><%= wish.participant_wish %></li>
					<% end %>
				<% end %>
			</ul>
			Te invitamos a visitar su perfil para ver sus gustos.
			La fecha pautada es <b><%= @exchange.exchange_date %></b> en <b><%= @exchange.place %></b>
		</p>
	</body>
</html>
