<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8', http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Hola <%= @user.name %> <%= @user.lastname %></h1>
		<p>
		Te enviamos este correo para pedirte que por favor califiques a
		<%= link_to "#{@giver.name} #{@giver.lastname}", edit_give_url(@give) %>
		de acuerdo a lo que te regalo en el intercambio realizado el
		<b><%= @exchange.exchange_date %></b>, en <b><%= @exchange.place %></b>
		</p>
	</body>
</html>
