Hola <%= @user.name %> <%= @user.lastname %>
============================================

Te enviamos este correo para pedirte que por favor califiques a
<%= link_to "#{@giver.name} #{@giver.lastname}", edit_give_url(@give) %>
de acuerdo a lo que te regalo en el intercambio realizado el
<%= @exchange.exchange_date %>, en <%= @exchange.place %>
