<% provide(:title, 'Tiendas') %>
<h1>Tiendas</h1>

<% @shops.each_with_index do |shop, i| %>
	<div class="card-deck">
	<div class="card">
		<%= link_to image_tag("shop#{i+1}.jpg", class: 'card-img-top'), shop %>

		<div class="card-body">
			<h4 class="card-title"> <%= link_to shop.name, shop %> </h4>
			<p class="card-text"> <%= shop.address %> .</p>
		</div>
	</div>
	</div>
<% end %>
