<% provide(:title, @shop.name) %>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "shop#{params[:id]}.jpg", class: 'card-img-top' %>
    </div>
  </div>
</div>

<div>
	<h1><%= @shop.name %></h1>
</div>

<div class="card">
  <div class="card-header">
    Direccion
  </div>
  <div class="card-body">
    <%= @shop.address %>
  </div>
</div>

<div class="card">
	<h4 class="card-header">Nuestros productos son:</h4>
	<div class="card-body">
		<% @shop.gifts.each do |gift| %>
				<p class="card-text"><%= gift.name %>: <%= gift.price %> Bs.F: <%= gift.description %> </p>
		<% end %>
	</div>
</div>
