
<% provide(:title, 'Grupos') %>
<h1>Listado de grupos</h1>

<% @groups.each do |g| %>
	<ul class="list-group">
		<li class="list-group-item d-flex justify-content-between align-items-center">
			<%= link_to g.name, g %>
			<span class="badge badge-primary badge-pill"><%= g.participates.count %> / <%= g.max_participants_allowed %></span>
		</li>
<% end %>
