<% provide(:title, "Crear nuevo grupo") %>
<h1>Crear grupo</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@group) do |f| %>
			<%= render 'shared/error_messages' %>

			<%= f.label :name, "Nombre del grupo" %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :max_participants_allowed, "Maximo numero de participantes" %>
			<%= f.number_field :max_participants_allowed, class: 'form-control' %>

			<p>Rango de precios (opcionales ambos)</p>
			<%= f.label :min_gift_price, "Precio minimo" %>
			<%= f.number_field :min_gift_price, class: 'form-control' %>

			<%= f.label :max_gift_price, "Precio maximo" %>
			<%= f.number_field :max_gift_price, class: 'form-control' %>

			<%= f.submit "Crear grupo", class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>
