<% provide(:title, @group.name) %>
<h1><%= @group.name %></h1>

<div class="card">
	<h4 class="card-header">Datos del grupo</h4>
	<div class="card-body">
		<p class="card-text">Creado el <%= @group.created_at.to_s(:concise) %></p>
		<p class="card-text">Minimo de precio: <%= @group.min_gift_price %></p>
		<p class="card-text">Maximo de precio: <%= @group.max_gift_price %></p>
		<p class="card-text">Maximo de integrantes: <%= @group.max_participants_allowed %></p>
		<% admin = User.find_by(email: @group.admin_email) %>
		<p class="card-text">Administrador: <%= link_to "#{admin.name} #{admin.lastname}", user_path(@group.admin) %> <%= "(#{admin.email})" %></p>

		<!-- Muestra los intercambios concluidos -->
		<% if Exchange.exists?(group_id: @group.id) %>
			<p class="card-text">Intercambios concluidos: <%= Exchange.where('exchange_date < ?', DateTime.now).count %></p>
		<% end %>
	</div>
</div>


<!-- Muestra los integrantes del grupo -->
<div class="card">
	<h4 class="card-header">Integrantes (<%= @group.participates.count %> de <%= @group.max_participants_allowed %>)</h4>
	<div class="card-body">
		<% @participants.each do |p| %>
			<p class="card-text"><%= p.participant.user.name %> <%= p.participant.user.lastname %></p>
		<% end %>
	</div>
</div>

<!-- Si el usuario no es un participante de este grupo, muestra el link de unirse -->
<% if !current_user.participant || !current_user.participant.participates.exists?(group_id: @group.id, participant_id: current_user.participant.id) %>

	<!-- Muestra el link de unirse al grupo, si no es el admin -->
	<% if !current_user.is_admin_of(@group) && @group.has_free_space %>
		<%= link_to 'Unirse al grupo', new_participate_url(@group), class: 'btn btn-info' %>
	<% end %>
<% end %>

<!-- ARREGLAR: Posiblemente mover esta logica al exchanges_controller, o groups_controller -->
<!-- Si el usuario es el administrador y no hay intercambios pendientes, muestra el link de hacer intercambio -->
<% if current_user.is_admin_of(@group) %>

	<!-- Si no hay otro intercambio pendiente (un intercambio mayor a la fecha actual) muestra el link para hacer uno -->
	<% if @group.doesnt_has_pending_exchanges %>
		<%= link_to 'Hacer sorteo', new_exchange_path(@group), params.merge(groupid: @group.id) %>
	<% else %>

		<!-- Ya hay un intercambio organizado -->
		<p>Proximo intercambio organizado:</p>
			<ul>
			<% @group.exchanges.each do |e| %>
				<li>
					<p>Fecha: <%= e.exchange_date %>, Lugar: <%= e.place %></p>
					<% if current_user.is_admin_of(@group) %>

						<div id="modalCancelarIntercambio" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLiveLabel">Eliminar grupo</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>Estas seguro que deseas cancelar el intercambio?</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">No, olvidalo</button>
										<%= link_to "Si, estoy seguro", exchange_path(e), method: :delete, class: 'btn btn-danger' %>
									</div>
								</div>
							</div>
						</div>

						<div class="bd-example">
							<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalCancelarIntercambio">
								Cancelar intercambio
							</button>
						</div>
					<% end %>
				</li>
			<% end %>
			</ul>
	<% end %>
<% end %>

<!-- Si el usuario actual no es el administrador del grupo y participa en el,
muestra el link para abandonar el grupo -->
<% if !current_user.is_admin_of(@group) && current_user.participates_in(@group) %>
	<div id="modalAbandonarGrupo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLiveLabel">Eliminar grupo</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Estas seguro que deseas abandonar <%= @group.name %>?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<%= link_to "Si, estoy seguro",
											leave_group_path(current_user.participant.participates.where(group_id: @group.id).first.id),
											method: :delete, class: 'btn btn-danger' %>
				</div>
			</div>
		</div>
	</div>

	<div class="bd-example">
		<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalAbandonarGrupo">
			Abandonar grupo
		</button>
	</div>
<% end %>

<!-- Eliminar grupo -->
<% if current_user.is_admin_of(@group) %>
	<div id="modalEliminarGrupo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLiveLabel">Eliminar grupo</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Estas seguro? Esto cancelara todos los nuevos intercambios</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<%= link_to "Si, quiero eliminar este grupo", group_path(@group), method: :delete, class: 'btn btn-danger' %>
				</div>
			</div>
		</div>
	</div>

	<div class="bd-example">
		<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalEliminarGrupo">
			Eliminar grupo
		</button>
	</div>
<% end %>
