<% provide(:title, "Editar usuario") %>
<h1>Actualiza tus datos de perfil</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>

			<%= f.label :name, "Nombre" %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :lastname, "Apellido" %>
			<%= f.text_field :lastname, class: 'form-control' %>

			<h3>Gustos</h3>
			<%= f.nested_fields_for :likes do |l| %>
				<%= l.remove_nested_fields_link 'Eliminar gusto' %>
				<%= l.text_field :user_like, class: 'form-control' %>
			<% end %>
			<%= f.add_nested_fields_link :likes, 'Agregar gusto' %>

			<%= f.submit "Actualizar datos", class: 'btn btn-primary' %>

		<% end %>
	</div>
</div>

<%= link_to 'Cancelar', user_path(params[:id]), class: 'btn btn-secondary' %>
