<% provide(:title, 'Usuarios') %>
<h1>Todos los usuarios</h1>

<%= will_paginate class: 'pagination justify-content-center btn' %>

<ul class="users">
	<%= render @users %>
</ul>

<%= will_paginate class: 'pagination justify-content-center' %>
