<% provide(:title, "Registro") %>
<h1>Registrarse</h1>

<div class="row justify-content-center">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>

			<%= f.label :name, 'Nombre' %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :lastname, 'Apellido' %>
			<%= f.text_field :lastname , class: 'form-control' %>

			<%= f.label :email, 'Correo' %>
			<%= f.email_field :email, class: 'form-control' %>

			<%= f.label :password, 'Contrasena' %>
			<%= f.password_field :password, class: 'form-control' %>

			<%= f.label :password_confirmation, 'Confirmacion de contrasena' %>
			<%= f.password_field :password_confirmation, class: 'form-control' %>

			<%= f.label :birthday, 'Fecha de nacimiento' %>
			<%= f.date_field :birthday, class: 'form-control' %>

			<%= f.radio_button :gender, 'male', checked: true %>
			<%= f.label :gender, 'Masculino', value: 'male' %>

			<%= f.radio_button :gender, 'female' %>
			<%= f.label :gender, 'Femenino', value: 'female' %>

			<h3>Gustos</h3>
			<p>Ingresa un gusto por campo</p>
			<%= f.nested_fields_for :likes do |l| %>
				<%= l.remove_nested_fields_link 'Eliminar gusto' %>
				<%= l.text_field :user_like, class: 'form-control' %>
			<% end %>
			<%= f.add_nested_fields_link :likes, 'Agregar gusto' %><br/><br/><br/>

			<%= f.submit "Registrar", class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>
