<% provide(:title, @user.name + " " + @user.lastname) %>

<div class="row justify-content-center">
	<aside class="col-md-8">
		<section class="user_info">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name + " " + @user.lastname %>
			</h1>
		</section>
	</aside>
</div>

<!-- Datos personales -->
<div class="card">
	<h4 class="card-header">Datos personales</h4>
  <div class="card-body">
    <p class="card-text">Email: <%= @user.email %></p>
		<p class="card-text">Edad: <%= @user.age %> años</p>
		<p class="card-text">Puntuacion promedio: <%= @user.avgscore.to_f %> / 5 puntos</p>
		<p class="card-text">Regalos recibidos: <%= Give.where(receiver_id: @user.id).count %></p>
		<p class="card-text">Regalos dados: <%= Give.where(giver_id: @user.id).count %></p>
  </div>
</div>

<!-- Muestra los grupos en los que participa el usuario -->
<% if @user.is_participant? %>
	<div class="card">
		<h4 class="card-header">Grupos en los que participa</h4>
		<div class="card-body">
			<% @user.participant.participates.pluck(:group_id).uniq.each do |id| %>
				<% group = Group.find(id) %>
				<p class="card-text"><%= link_to group.name, group_path(group) %></p>
			<% end %>
		</div>
	</div>
<% end %>

<!-- Muestra los grupos que administra el usuario -->
<% if @user.is_admin? %>
	<div class="card">
		<h4 class="card-header">Grupos que administra</h4>
		<div class="card-body">
			<% @user.admin.groups.each do |group| %>
				<p class="card-text"><%= link_to group.name, group_path(group) %></p>
			<% end %>
		</div>
	</div>
<% end %>

<!-- Gustos -->
<% if @user.likes.count > 0 %>
	<div class="card">
		<h4 class="card-header">Gustos</h4>
		<div class="card-body">
			<% @user.likes.each do |like| %>
				<p class="card-text"><%= like.user_like %></p>
			<% end %>
		</div>
	</div>
<% end %>

<!-- Si el usuario actual es el dueno de la cuenta, muestra el link para eliminarla -->
<% if current_user?(@user) %>
	<!-- Modal para eliminar la cuenta -->
	<div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLiveLabel">Eliminar cuenta</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Estas seguro? Esta accion no se podra deshacer</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<%= link_to "Si, quiero eliminar mi cuenta", user_path(@user), method: :delete, class: 'btn btn-success' %>
				</div>
			</div>
		</div>
	</div>

	<div class="bd-example">
		<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalLive">
			Eliminar cuenta
		</button>
	</div>
<% end %>
