<% if @user && @user.errors.any? %>
	<div class="error_explanation">
		<div class="alert alert-danger">
			Se han encontrado <%= pluralize(@user.errors.count, "error") %>.
		</div>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li> <%= msg %> </li>
			<% end %>
		</ul>
	</div>
<% end %>

<% if @group && @group.errors.any? %>
	<div class="error_explanation">
		<div class="alert alert-danger">
			Se han encontrado <%= pluralize(@group.errors.count, "error") %>.
		</div>
		<ul>
			<% @group.errors.full_messages.each do |msg| %>
				<li> <%= msg %> </li>
			<% end %>
		</ul>
	</div>
<% end %>

<% if @participate && @participate.errors.any? %>
	<div class="error_explanation">
		<div class="alert alert-danger">
			Se han encontrado <%= pluralize(@participate.errors.count, "error") %>.
		</div>
		<ul>
			<% @participate.errors.full_messages.each do |msg| %>
				<li> <%= msg %> </li>
			<% end %>
		</ul>
	</div>
<% end %>
