<% provide(:title, 'Principal') %>

<div class="jumbotron jumbotron-fluid">
  <div class="img"></div>
  <div class="container">
    <h1 class="display-1">Amigo secreto</h1>
    <p class="lead text-center">Donde los mejores grupos y amigos se reunen para hacer intercambios de regalos.</p>

    <div class="text-center">
      <%= link_to 'Iniciar sesion', login_path, class: 'btn btn-primary btn-xl text-uppercase text-center' %>
      <%= link_to 'Nuevo? Registrate!', new_user_path, class: 'btn btn-primary btn-xl text-uppercase text-center' %>
    </div>

  </div>
</div><br/><br/><br/><br/>

    <!-- Servicios -->
    <section id="services">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Servicio</h2>
            <h3 class="section-subheading text-muted">Ofrecemos servicio a diversos usuarios, grupos y tiendas, para poder organizar los eventos mas memorables.</h3>
          </div>
        </div>
        <div class="row text-center">

          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-user-circle-o fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Usuarios</h4>
            <p class="text-muted">Cualquiera es bienvenido a unirse. Podras
              recibir los mejores regalos de quien menos lo esperas! </p>
          </div>

          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-users fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Grupos</h4>
            <p class="text-muted">Crea tus propios grupos, o unete a otros. Podras organizar o participar en intercambios con personas que quizas
            no conocias, y llevarte una buena sorpresa. </p>
          </div>

          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-shopping-bag fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Tiendas</h4>
            <p class="text-muted">Especifica los regalos que quieres para los
              intercambios en los que participas, o dejalo que sea una sorpresa!</p>
          </div>

        </div>
      </div>
    </section>

    <section class="bg-light" id="portfolio">

      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Tiendas afiliadas</h2>
            <h3 class="section-subheading text-muted">Conoce que comercios estan afiliados a nuestros servicios.</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="/assets/shop1.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Kyoto</h4>
              <p class="text-muted">Ropa y zapatos deportivos</p>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="/assets/shop2.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Adidas</h4>
              <p class="text-muted">Ropa deportiva</p>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="/assets/shop3.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Tony Romas</h4>
              <p class="text-muted">Restaurante de excelente calidad</p>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="/assets/shop4.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Todo electronica</h4>
              <p class="text-muted">Necesitas una resistencia, capacitor,
                LED? Viniste al lugar correcto</p>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="/assets/shop5.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Tattoo</h4>
              <p class="text-muted">Diversos articulos de culturas subversivas juveniles</p>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="/assets/shop6.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Libreria latina</h4>
              <p class="text-muted">Libros de cuentos, novelas, tecnicos, musica</p>
            </div>
          </div>

        </div>
      </div>
    </section>
