<% provide(:title, 'Unirse a grupo') %>
<h1>Unirse a <%= @group.name %></h1>

<h3>Escoge los deseos que quieres para el intercambio</h3>

<%= form_for @participate, url: create_participate_path(@group) do |f| %>
	<%= render 'shared/error_messages' %>

	<div id="div_sorpresa">
		<%= f.radio_button :wishes, 'Sorpresa', checked: true, class: 'form-control' %>
		<%= f.label :wish_sorpresa, 'Que sea una sorpresa!' %>
	</div>

	<div id="div_varios_deseos">
		<%= f.radio_button :wishes, 'Especificar deseos', class: 'form-control' %>
		<%= f.label :wish_varios, 'Especificar deseos', value: 'Especificar deseos' %>
	</div>

	<div id="div_campos_varios_deseos">
		<%= f.nested_fields_for :wishes do |w| %>
			<%= w.remove_nested_fields_link 'Eliminar deseo' %>
			<%= w.text_field :participant_wish, class: 'form-control' %>
		<% end %>
		<%= f.add_nested_fields_link :wishes, 'Agregar deseo' %>
	</div>

	<%= f.submit "Ingresar al grupo", class: 'btn btn-primary' %>
<% end %>
