<% provide(:title, 'Calificar usuario') %>
<h1>Califica a quien te regalo</h1>

<!-- Al parecer hay un problema que Rails no interpreta bien la ruta para
Give, y en vez de give_path genera gife_path, asi que colocamos la url explicitamente -->
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@give, url: give_path(@give)) do |f| %>
			<%= render 'shared/error_messages' %>

			<%= f.label "Calificacion" %>
			<%= f.number_field(:giver_calification, in: 1..5, class: 'form-control') %>

			<%= f.submit "Calificar", class: 'btn btn-primary' %>
		<% end %>

	</div>
</div>
