<header>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="mainNav">
  <%= link_to "Amigo secreto", root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto justify-content-right">

      <% if logged_in?  %>
        <li class="nav-item">
          <%= link_to "Inicio", current_user, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to "Usuarios", users_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to "Grupos", groups_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to "Tiendas", shops_path, class: 'nav-link' %>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Opciones
          </a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Crear grupo", new_group_path, class: 'dropdown-item' %>
            <%= link_to "Perfil", current_user, class: 'dropdown-item' %>
            <%= link_to "Editar perfil", edit_user_path(current_user), class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to "Cerrar sesion", logout_path, class: 'dropdown-item', method: :delete %>
          </div>

        </li>
      <% end %>

    </ul>
  </div>
</nav>
</header><br/><br/>
